:root {
   --white: #fafafa;
   --black-font: #312b2a;
   --light-brown: #f5e7da;
   --brown: #D4A373;
   --brown-hover: #c5894e;
   --yellow: #c9bc74;
   --yellow-hover: #aca060;
   --green: #E9EDC9;
   --light-green: #bbc49d;
   --dark-green: #616948;
   --footer: #f8f3ef;
   --grey: #9daeb8;
   --grey-font: #5e6c72;
   --grey-shadow: #7680585b;
}